.button {
    display: inline-block;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.3rem;
    background-color: #A00;
    color: #BBB;
}

.button:hover {
    color: #FFF;
    background-color: #F00;
}

.button-primary {
    font-size: 1.1em;
    font-weight: bold;
    background-color: #69F;
}