<label for="toggle-main-nav" class="toggle-main-nav-button fas"><span>Menu</span></label>
<nav class="{{include.location}}-nav">
    <ul>
        <li>
            <a href="{{site.baseurl}}/"><span><i class="fas fa-home"></i> Home</span></a>
        </li>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for navitem in sorted_pages %}
            {% if navitem.url != '/feed.xml' and navitem.url != '/' %}

                <li {% if page.url == navitem.url %} class="active-page" {% endif %}>
                    <a href='{{site.baseurl}}{{ navitem.url }}'>
                        <span class="title">{{ navitem.icon }} {{ navitem.title }}</span>
                        <span class="date"></span>
                    </a>

                    <ul>
                        {% for navitem in sorted_pages %}
                            {% if navitem.url != '/feed.xml' and navitem.url != '/' %}
                                <li>
                                <!--<li {% if page.url == navitem.url %} class="active-page" {% endif %}>-->
                                    <a href='{{site.baseurl}}{{ navitem.url }}'>
                                        <span class="title">{{ navitem.icon }} {{ navitem.title }}</span>
                                        <span class="date"><!--{{site.time | date_to_string}}--></span>
                                    </a>
                                </li>

                            {% endif %}
                        {% endfor %}

                    </ul>

                </li>

            {% endif %}
        {% endfor %}

    </ul>
</nav>
<section class="cta">
    <a href="mailto:genadimihaylov@gmail.com" class="button">Call us</a>
</section>


