.main-nav {
    /*background: #666;*/
}

.main-nav ul {
    padding: 0;
    margin: 0;
}

.main-nav > ul {
    display: flex;
}

.main-nav li {
    position: relative;
    display: block;
    list-style: none outside;
}

.main-nav a {
    display: block;
    padding: 0.5em 1em;
    background: rgba(0,0,0,0.4);
    text-decoration: none;
    border-radius: 0.3rem;
    outline: none;
    margin-right: 0.2rem;
    color: #FFF;
    transition: background 0.4s ease;
}

.main-nav a:focus,
.main-nav a:hover {
    background: #900;
    text-decoration: underline;
}

/* Level 2 */

.main-nav > ul ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;

    z-index: 100;
   /* opacity: 0;*/
    pointer-events: none;
    /*border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;*/
    /*transform: translateY(-2rem);
    transition: opacity 0.8s ease, transform 0.2s ease-out;*/
    overflow: hidden;
}

.main-nav > ul ul a {
    margin-top: 0.2rem;
}

.main-nav li:hover > ul {
    pointer-events: all;
    /*transform: translateY(0);
    opacity: 1;*/
}

.main-nav > ul ul li {
    opacity: 0;
    transform: translateY(-2rem);
    transition: opacity 0.8s ease, transform 0.2s ease-out;
}

.main-nav li:hover > ul > li{
    transform: translateY(0);
    opacity: 1;
}

.main-nav li:hover > ul > li:nth-child(2) {transition-delay: 0.08s}
.main-nav li:hover > ul > li:nth-child(3) {transition-delay: 0.16s}
.main-nav li:hover > ul > li:nth-child(4) {transition-delay: 0.24s}
.main-nav li:hover > ul > li:nth-child(5) {transition-delay: 0.32s}

.main-nav > ul ul a {
    padding: 0.7em 2em 0.7em 1em;
}