@import url('typography.css');
@import url('navigation.css');
@import url('site-header.css');
@import url('site-footer.css');

:root {
    --color-main-bgrd: #9F9;
    --color-main-text: #A0F;
    --color-main-link: orange;
    
    --color-basic-border: #BBB;

    --sizing-basic-border: 1px;
}

body {
    background: var(--color-main-bgrd, #000);
    color: var(--color-main-text, #FF0);
    padding: 2rem 3rem;
}

.site-content {
    padding: var(--sizing-ws-base) 0;
}