/*
* Header Navigation Style
*/


.header-nav {
}

.header-nav ul {
    padding: 0;
    margin: 0;
}

.header-nav > ul {
    display: flex;
}

.header-nav li {
    position: relative;
    display: block;
    list-style: none outside;
}

.header-nav a {
    display: block;
    padding: 0.5em 1em;
    background: rgba(0,0,0,0.4);
    text-decoration: none;
    border-radius: 0.3rem;
    outline: none;
    margin-right: 0.2rem;
    color: #FFF;
    transition: background 0.4s ease;
}

.header-nav a:focus,
.header-nav a:hover {
    background: #900;
    text-decoration: underline;
}

/* Level 2 */

.header-nav > ul ul {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;

    z-index: 100;
   /* opacity: 0;*/
    pointer-events: none;
    /*border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;*/
    /*transform: translateY(-2rem);
    transition: opacity 0.8s ease, transform 0.2s ease-out;*/
    overflow: hidden;
}

.header-nav > ul ul a {
    margin-top: 0.2rem;
}

.header-nav li:hover > ul {
    pointer-events: all;
}

.header-nav > ul ul li {
    opacity: 0;
    -webkit-transform: translateY(-15rem);
            transform: translateY(-15rem);
    transition: opacity 1s ease, -webkit-transform 0.3s ease-out;
    transition: opacity 1s ease, transform 0.3s ease-out;
    transition: opacity 1s ease, transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.header-nav li:hover > ul > li{
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
}

.header-nav li:hover > ul > li:nth-child(2) {transition-delay: 0.08s}
.header-nav li:hover > ul > li:nth-child(3) {transition-delay: 0.16s}
.header-nav li:hover > ul > li:nth-child(4) {transition-delay: 0.24s}
.header-nav li:hover > ul > li:nth-child(5) {transition-delay: 0.32s}

.header-nav > ul ul a {
    padding: 0.7em 2em 0.7em 1em;
}

/*
* Footer Navigation Style
*/

.footer-nav {
}

.footer-nav ul {
    padding: 0;
    margin: 0;
}

.footer-nav > ul {
    display: flex;
    list-style: none;
}

.footer-nav li ul {
    display: none;
}

.footer-nav a {
    display: block;
    padding: 0.5em 1em;
    background: rgba(0,0,0,0.4);
    text-decoration: none;
    border-radius: 0.3rem;
    outline: none;
    margin-right: 0.2rem;
    color: #FFF;
    transition: background 0.4s ease;
}

.footer-nav a:focus,
.footer-nav a:hover {
    background: #900;
    text-decoration: underline;
}