<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/styles.css">
    </head>
    <body class="{{page.body_class}} {{page.title | slugify}}">
        <header class="site-header">
            <h1><a href="/">{{ site.title }}</a></h1>
            {% include navigation.html %}
        </header>
        <main class="site-content">
            {{ content }}
        </main>
        <footer class="site-footer">
            <p>&copy; by Genadi</p>
            {% include navigation.html %}
        </footer>
    </body>
</html>