<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href="{{site.baseurl}}/css/site.css">
    </head>
    <body class="{{page.body_class}} {{page.title | slugify}}">
        <header class="site-header banner" style="background-image: url(https://images.unsplash.com/photo-1560215704-64a4cba82a67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80)">
            <div class="inner">
                <h1><a href="/">{{ site.title }}</a></h1>
                {% include navigation.html %}
            </div>
        </header>
        <main class="site-content">
            {{ content }}
        </main>
        <footer class="site-footer">
            <p>&copy; by Genadi</p>
            {% include navigation.html %}
        </footer>
    </body>
</html>