ul.gallery {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    & li {
        flex: 0 1 32%;
        display: block;
        list-style: none outside;
        background: #FFF;
        border: 4px solid #000;
        margin-bottom: 2%;
        padding: 1rem;
        box-shadow: 1em 1em 0.8em rgba(0, 0, 0, 0.6);
        transition: transform 1s ease-in;

        &:hover {
            transform: scale(1.5) rotate(360deg);
        }

        & a {
            display: block;
            position: relative;
            overflow: hidden;

            &:before {
                display: block;
                content: '';
                padding-top: 100%;
            }
        }

        /*@include bp('tablet') {
            @at-root #toggle-main-nav:checked + & img {
                pointer-events: none;
                position: relative;
                z-index: -1;
            }
        }*/
    }

    img {
        display: block;
        width: 100%;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}