body {
    background: var(--color-main-bgrd, #000);
    color: var(--color-main-text, #FF0);
}

.site-content iframe {
    width: 100%;
    padding-bottom: var(--sizing-lt-base);
}

.site-content {
    padding: var(--sizing-lt-base);
}

body.gallery .site-header .main-nav a {
    font-style: italic;
}