/*
* Main Navigation Style
*/

nav {

    ul {
        padding: 0;
        margin: 0;
    }

    & > ul {
        display: flex;
    }

    li {
        display: block;
        list-style: none outside;
    }

    a {
        display: block;
        padding: 0.5em 1em;
        background: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        border-radius: 0.3rem;
        outline: none;
        margin-right: 0.2rem;
        color: #FFF;
        transition: background 1s ease;
    }

    a:focus,
    a:hover {
        background: #900;
        text-decoration: underline;
    }
}


/*
* Header Navigation Style
*/


.header-nav {

    margin-right: auto;

    ul {
        @include bp('tablet') {
            display: flex;
            flex-direction: column;
        }
    }

    li {
        position: relative;
    }

    /* Level 2 - only for larger devices */

    @include bp('laptop') {

        & > ul ul {
            display: block;
            position: absolute;
            top: 100%;left: 0;
            pointer-events: none;
            overflow: hidden;
            z-index: 100;

            li{
                opacity: 0;
                transform: translateY(-15rem);
                transition: opacity 0.8s ease-in, transform 0.3s ease-out;
            }

            a {
                margin-top: 0.2rem;
                padding: 0.7em 2em 0.7em 1em;
                width: 100%;
            }
        }

        li:hover {

            & > ul {

                pointer-events: all;

                & > li {
                    transform: translateY(0);
                    opacity: 1;
                }

                & > li:nth-child(2) {
                    transition-delay: 0.08s
                }

                & > li:nth-child(3) {
                    transition-delay: 0.16s
                }

                & > li:nth-child(4) {
                    transition-delay: 0.24s
                }

                & > li:nth-child(5) {
                    transition-delay: 0.32s
                }
            }
        }
    }

    /* Hide-Show entire Nav element for different devices */
    @include bp('tablet') {

        width: 100%;

        @at-root #toggle-main-nav + .site-header & {
            display: none;
        }

        @at-root #toggle-main-nav:checked + .site-header & {
            display: block;
        }
    }
}

.toggle-main-nav-button {
    @include bp('laptop') { display: none; }
    @include bp('tablet') { display: block; }
}


#toggle-main-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/*
* Footer Navigation Style
*/

.footer-nav {

     li ul {
        display: none;
    }
}