/*
* Main Navigation Style
*/
@import url("https://use.typekit.net/qhq2hkv.css");

nav {

    font-family: meera, sans-serif;

    font-weight: 400;

    font-style: normal;



    ul {
        padding: 0;
        margin: 0;
    }

    & > ul {
        display: flex;
    }

    li {
        display: block;
        list-style: none outside;
    }

    li.active-page > a {
        background: #900;
    }

    a {
        display: block;
        padding: 0.5em 1em;
        background: rgba(0, 0, 0, 0.4);
        text-decoration: none;
        outline: none;
        margin-right: 0.2rem;
        color: #FFF;
        transition: background 1s ease;
    }


    a:focus,
    a:hover {
        background: #900;
        text-decoration: underline;
    }
}


/*
* Header Navigation Style
*/

.header-nav {

    margin-right: auto;

    ul {
        @include bp('tablet') {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 9000;
        }
    }

    li {
        position: relative;
    }

    /* Level 2 - only for larger devices */

    @include bp('laptop') {

        & a {
            border-radius: 0.3rem;
        }

        & > ul ul {
            display: block;
            position: absolute;
            top: 100%;left: 0;
            pointer-events: none;
            overflow: hidden;
            z-index: 100;

            li{
                opacity: 0;
                transform: translateY(-15rem);
                transition: opacity 0.8s ease-in, transform 0.3s ease-out;
            }

            a {
                margin-top: 0.2rem;
                padding: 0.7em 2em 0.7em 1em;
                width: 100%;
            }
        }

        li:hover {

            & > ul {

                pointer-events: all;

                & > li {
                    transform: translateY(0);
                    opacity: 1;
                }

                & > li:nth-child(2) {
                    transition-delay: 0.08s
                }

                & > li:nth-child(3) {
                    transition-delay: 0.16s
                }

                & > li:nth-child(4) {
                    transition-delay: 0.24s
                }

                & > li:nth-child(5) {
                    transition-delay: 0.32s
                }
            }
        }
    }

    /* Hide-Show entire Nav element for different devices */
    @include bp('tablet') {

        width: 100%;
        height: 100vh;
        padding: 8rem;
        position: fixed;
        top: 0; left: 0;
        background-color: rgba(black, 0.5);

        ul ul li a {
            padding-left: 3rem;
        }

        @at-root #toggle-main-nav + .site-header {
            .brand {
                position: relative;
                z-index: 9000;
            }
        }

        @at-root #toggle-main-nav + .site-header & {
            display: none;
        }

        @at-root #toggle-main-nav:checked + .site-header & {
            display: block;
        }
    }
}

.site-header .toggle-main-nav-button span {
    display: none;
}

.site-header .toggle-main-nav-button {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 0.3em;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.2);
}

.site-header .toggle-main-nav-button:before {
    display: block;
    content: '\f0c9';
    padding: 0.5em;

}

.site-header .toggle-main-nav-button {
    @include bp('laptop') { display: none; }
    @include bp('tablet') {
        & {
            position: relative;
            z-index: 9000;
        }

        @at-root #toggle-main-nav:checked + & {
            position: fixed;
            top: 1.5rem; right: 2.2rem;
        }

        @at-root #toggle-main-nav:checked + &:before {
            content: '\f00d';
        }

        @at-root #toggle-main-nav + & {
            display: block;
        }

        @at-root #toggle-main-nav + &:hover {
            background-color: rgba(255, 255, 255, 0.5);
            cursor: pointer;
        }
    }
}


#toggle-main-nav {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/*
* Footer Navigation Style
*/

.site-footer {
    .toggle-main-nav-button {
        display: none;
    }
}

.footer-nav {

    li ul {
        display: none;
    }

    a {
        border-radius: 0.3rem;
    }
}