.site-header {
    .inner {
        display: flex;
        flex-wrap: wrap;
        padding: 1rem var(--sizing-lt-base) 0 var(--sizing-lt-base);
        justify-content: space-between;
        align-items: center;

        .brand {
            margin-right: var(--sizing-lt-base);
            margin-bottom: 0;
        }

        @include bp('tablet') {
           /* flex-direction: column;*/
            .cta {
                flex: 0 0 100%;
                display: flex;
                justify-content: center;
                padding-top: 4em;

                .button {
                    padding: 1rem 2rem;
                    font-size: 1.2rem;
                }
            }

            .brand {
                margin-right: 0;
                pointer-events: none;
            }
        }
    }

    /*
    * Homepage Header Banner
    * Aspect Ratio Boxes with CSS
    * https://css-tricks.com/aspect-ratio-boxes/
    */

    &.banner {
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .brand a {
            color: #934eee;
            text-decoration: none;
        }

        &:after {
            display: block;
            content: '';
        }

        &.size-large:after {
            padding-top: calc((9 / 16) * 100%); /* Aspect Ratio 16/9 */
        }

        &.size-small:after {
            padding-top: calc((9 / 32) * 100%); /* Aspect Ratio 32/9 */
        }
    }
}