.site-footer {
    border-top: var(--sizing-basic-border) solid var(--color-basic-border);
    padding: var(--sizing-lt-base);
    font-size: 0.8em;

    p {
        font-style: italic;
        color: rgba(0, 0, 0, 0.5);
    }

    .button {
        display: none;
    }
}