:root {
    --sizing-ws-base: 1.5em;
    --sizing-fs-base: 12px;
    --sizing-lt-base: 2rem;

    --sizing-fs-tablet: 14px;
    --sizing-fs-laptop: 16px;
    --sizing-fs-desktop: 18px;
    --sizing-fs-huge: 20px;

    --color-main-bgrd: #9F9;
    --color-main-text: #444;
    --color-main-link: orange;

    --color-basic-border: #BBB;

    --sizing-basic-border: 2px;
}